
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
	font-family: "Roboto", sans-serif;
}

h1.title {
	text-align: center;
	color: black;
	letter-spacing: 2px;
}
h1.todo-header {
	background: #052142;
	color: rgb(247, 239, 239);
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 400;
}

div#container {
	width: 360px;
	margin: 0 auto;
	border: 2px solid rgb(30, 62, 78);
	background: #f8f5f5;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

ul {
	cursor: pointer;
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: #fcfbfb;
	padding-left: 10px;
	line-height: 2em;
	margin: 0;
	color: #525151;
}

li:nth-child(2n) {
	background: rgb(247, 243, 243);
}

li.clicked {
	color: gray;
	text-decoration: line-through;
}

input#addToDo {
	font-size: 18px;
	color: #01090e;
	background: #b7eeff;
	border: none;
	width: 100%;
	padding: 10px 10px 10px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-border-box: border-box;
}

input#addToDo:focus {
	background: white;
	border: 2px solid rgb(3, 9, 12);
	outline: none;
	transition: 0.1s;
}

i.fa-trash {
	margin: 7px;
}

span {
	background: rgb(219, 6, 6);
	height: 35px;
	width: 0;
	margin-right: 10px;
	margin-left: -10px;
	text-align: center;
	display: inline-block;
	color: white;
	opacity: 0;
	transition: 0.2s linear;
}

li:hover span {
	opacity: 1;
	width: 40px;
}
